/*root*/
*, *::before, *::after {
    box-sizing: inherit;
  }

html, body {
    min-height: 100%;
    height: 100%;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
*   Body, as in the entire page.
*   Main background here
*/
@keyframes slide {
    0% {
        /*x2.0 svg width, x1.0 svg height, seemless scroll*/
      background-position: -1080px -450px, 0 0;
    }
    100% {
      background-position: 1080px 450px, 0 0;
    }
}
body {
    position:absolute;
    display:block;
    overflow-y: hidden;
    overflow-x: scroll;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding-inline-start: 0;
    
    /*animated layer is top/first.*/
    background-image: url("/web_art/pattern2.svg"), url("/web_art/pattern.svg");
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: 540px 450px, 100%;
    background-repeat: repeat, repeat;
    background-position: left top;
    animation: slide 16s linear infinite;
}

/*Old animated scrolling background container
body div.background{
    position:fixed;
    display:none;
    overflow:hidden;
    width: 300%;
    height: 200%;
    margin: 0px;
    background-image: url("/web_art/pattern2.svg");
    background-attachment: local;
    background-size: 100%;
    background-repeat: repeat round;
    background-position: left top;
    animation: slide 10s linear infinite;
}*/
/*
    Shaded transparent background container that is placed under main
*/
body div.background2{
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.60);
    min-width: max(600px, calc(100%));
    min-height: max(100%);
    padding-left: 50px;
    left: 300px;
}
/*animation*/

/*
*   The main meat where content is going to be.
*   Don't set backgrounds here.
*/
div#content{
    display: flex;
    flex-direction: column;

    position: absolute;
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    height: 100%;
    min-height: 100%;
    /*do not set width as a calc itself, just calc min and max*/
    min-width: max(calc(100% - 300px), 400px);
    padding-left: 50px;
    margin:0;
    left: 300px;

    color: white;
    font-size:1em;
    font-family: Titillium Web, sans-serif;
    font-weight:700;
    background-color: rgba(0,0,0,0.60);

}

.layout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}
.layout-start {
    flex-basis: 300px;
    flex-grow: 1;
}
.layout-end {
    flex-basis: 300px;
    flex-grow: 1;
}

main div.image{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;

    width: calc(100%);
    min-width: 300px;
    max-width: 500px;


    padding-left: 20px;
    margin-right: calc(30%);
}

/*
media/medium aware
when the screen size less than max 40px, or
more than 400px, in that order, set things


@media all and (max-width: 700px) {
    main div.image{
        float:none;
        clear:both;
        margin-left: 0px;
        left: 0px;
    }
}
@media all and (min-width: 700px) {
    main div.image{
        float:right;
        clear:both;
        margin-left: 0px;
        left: 0px;
    }
}*/
main div.image a{
    display: flex;
    width: 100%;
    height: 100%;
}
main div.image img{
        width: 100%;
        height: 100%;
}
main div.image p{
    text-align: center;
}

/*header. place within div#content*/
header h1{
    padding-top: 50px;
}
header h2{
    padding-bottom: 20px;
    /*padding-left: 60px;*/
}
main div.contact{
    display:inline-flex;
    flex-direction: column;
    flex-basis:content
}

.indent{
    text-indent:40px;
}

/*
*   email link formatting.
*/

main div.contact div.email1, main div.contact div.email2{
    display:inline-block;
    text-indent:40px;
}
main div.contact div a{
    color:#d9b0ff;
}
main div.contact div a:hover{
    color:#c88eff;
}

/*
*   List formatting.
*/
ul{
    display:flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 700px;
}
li{
    /* DO NOT FLEX*/
    list-style-position: inside;
}
li div{
    display:inline-flex;

    min-width: 160px;
    text-align:left;
    text-justify:inter-character;   
}

.justify {
    display:inline-flex;
    text-indent:40px;
    max-width: 75%;
}
footer{
    clear:both;
}

/*
*   This is for the index/navigation bar to the left.
*/
@media all and (min-width: 1000px){
    nav{
        overflow-y: hidden;
    }
}
@media all and (max-width: 920px){
    nav{
        overflow-y: scroll;
    }
}

nav {
    position:absolute;
    display:flex;
    flex-direction: column;
    width: 304px;
    inline-size: 304px;
    inset-inline-start: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom:0px;

    padding-bottom: 20px;

    overscroll-behavior-y: contain;

    font-family: "Pixelify Sans", sans-serif;
    /*16px = 1em*/
    font-size: 1.25em;

    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 8px;
    border-color: rgb(48,210,255);
    background-color: rgba(255,255,255,0.40);
    background-image: linear-gradient(to bottom, rgba(130,27,227,0.5), rgba(130,27,227,0));
    
}
menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    row-gap: 80px;
  }
.index .top, .index .middle, .index .bottom{
    display:flex;
    flex-direction: column;
}
.index .bottom{
    font-size: 1em;
}
 
menu h2, .top div{
    display: block;
    padding-right: 0px;
    text-align: left; 
 }

menu p{
    display: flex;
    /*overflow: hidden;*/
    color: royalblue;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    &:hover {
        background-position: 0 100%;
      }
}

.github, .facebook, .neocities{
    display:flex;
    flex-direction: row;
}
.github p, .facebook p{
    padding-left:20px;
}
.github img, .facebook img{
    max-height: 50px;
}
.neocities img{
    max-height: 50px;
}
.screenshot {
    display: block;
    height: 25%;
    width: 25%;
} 